<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#FF2D78">
    <link rel="canonical" href="{{ canonical_url }}">
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>

  <body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {{ 'theme.js' | asset_url | script_tag }}
  </body>
</html>
